@page "/"


@using Rolfin.Blazor.FluentValidation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<button @onclick="changeValidationRules" > Change </button>
<button @onclick="addRow" > Add Row </button>

<EditForm FormName="formName" Model="_model" OnValidSubmit="submite">

    <div style="display: flex; flex-direction: column; width: 50%; min-height: 300px; margin: auto;">

        <FluentFormValidator Rules="rules" @ref=_validator />

        <InputText @bind-Value=_model.Name />
        <FluentValidationMessage For="() => _model.Name" />

        <InputText @bind-Value=_model.MiddleName />
        <FluentValidationMessage For="() => _model.MiddleName" RowIdentifier="() => _model.Id.ToString()" />

        <InputNumber @bind-Value=_model.Number />
        <FluentValidationMessage For="() => _model.Number" />

        <InputCheckbox @bind-Value=_model.IsSelected />

        <InputText @bind-Value=_model.Comment />
        <FluentValidationMessage For="() => _model.Comment" />

        @foreach(var item in _model.List)
        {
            <InputText @bind-Value=item.InnerName />
            <FluentValidationMessage For="() => item.InnerName" RowIdentifier="() => item.Id.ToString()" />
        }

        <button type="submit">Save</button>

    </div>

</EditForm>



@code{
    Model _model = new();
    List<Model> _items = new()
    {
        new() { Name = "florin", Number = 10 }    
    };

    FluentFormValidator<Model>? _validator { get; set; }

    RulesBuilder<Model> rules => (builder) =>
    {
        builder.RulesFor(x => x.Name).AddValidators(_items.Exists).NotNullOrWhiteSpace();
        builder.RulesFor(x => x.Number).AddValidators(_items.Exists).NotNullOrWhiteSpace();
        builder.RulesFor(x => x.MiddleName).NotNull();
        builder.RulesIfFor(x => x.IsSelected, prop => prop.Comment).NotNullOrWhiteSpace();
        builder.RulesForRow(() => _model.List, x => x.Id.ToString(), prop => prop.InnerName).NotNullOrWhiteSpace();
    };

    void submite()
    {
    }

    void changeValidationRules()
    {
        _validator?.ChangeRules(builder =>
        {
            builder.RulesFor(x => x.Number).AddValidators(_items.Exists);
            builder.RulesFor(x => x.MiddleName).NotNull();
            builder.RulesIfFor(x => x.IsSelected, prop => prop.Comment).NotNullOrWhiteSpace();
        });
    }
    void addRow()
    {
        _model.List.Add(new() { Id = Guid.NewGuid() });
    }

    class Model
    {
        public Guid Id { get; set; }
        public string? Name { get; set; }
        public string? MiddleName { get; set; }
        public bool IsSelected { get; set; }
        public string Comment { get; set; }
        public InnerModel InnerModel { get; set; }
        public int Number { get; set; }

        public List<InnerModel> List { get; set; } = new() { 
            new() { Id = Guid.NewGuid(), InnerName = "florin" },
            new() { Id = Guid.NewGuid(), InnerName = "" },
            new() { Id = Guid.NewGuid(), InnerName = "" },
        };
    }

    class InnerModel
    {
        public Guid Id { get; set; }
        public string InnerName { get; set; }
    }
}